body {
}
#content {
   width:100%;
}
.tdcss {
   width:100px;
}
#all {
   width:60%;

}
#searchTime{
   margin-bottom:8px;
}
.btnstyle {
   background: #33bdef;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 2px 20px 2px 20px;
    border: solid #057fd0 1px;
    margin-top: 8px;
}
#detailInfo {
   margin: 0 auto;
}
#detailInfo table{
   width:500px;
   padding:20px 0 20px 0;
   border-collapse:collapse;
   margin-top:20px;
   border-spacing:   100px; 
}

    #detailInfo table tr {
    border-spacing: 10px;
    }

#detailInfo table tr:nth-child(odd){

    background: #f8f8f8;

}
.widthfoName {
   width:120px;
   padding-left:20px;

}

