body {

}
#bigdiv {
    padding-top:20px;
   width:70%;
   padding-left:50px;
}
.conStyle {
    width:80%;
    height:auto;
    margin:0 auto;
    font-size:16px;
    float:left;
    font-family:"微软雅黑";
}
.bigDivTitle_title {
   font-family:Tahoma;
   font-size:24px;
   color:#353434;
   text-align:center;
}
.bigDivTitle_text {
   font-family:"微软雅黑";
   font-size:14px;
   color:#808080;
}
